@font-face {
	font-family: 'Proxima Nova';
	src: url('../asset/ProximaNova/ProximaNova-Regular.otf') format('opentype');
	font-weight: 400;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../asset/ProximaNova/ProximaNova-Semibold.otf') format('opentype');
	font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;